<% if(route === '/') {%>
<p class="position-absolute top-50 start-0 text-center text-light translate-middle">© Copyright 2020 The
    Awesome
    People</p>
<% } else { %>
<p class="position-absolute bottom-0 start-50 text-center text-light translate-middle">© Copyright 2020 The
    Awesome
    People</p>
<%  } %>